form {
    margin-top: 35px;
    margin-bottom: 35px;
}


md-divider {
    margin-bottom: 25px;
}

md-form-field {
    textarea {
        min-height: 150px !important;
    }
}

.notification-serach {
    margin-bottom: 15px;
}
