<div class="partner-serach">
    <!-- <md-icon>search</md-icon> -->
    <md-form-field class="full-width">
        <input mdInput type="text" #txtSearch [(ngModel)]="text" (ngModelChange)="textChanged($event)" placeholder="Buscar {{ memberKind }}...">
    </md-form-field>
    <md-select placeholder="Resultados por pagina..." class="full-width form-group" (change)="changed()" [(ngModel)]="resultsPerPage">
        <md-option *ngFor="let value of values" [value]="value">{{ value }}</md-option>
    </md-select>
</div>

<div class="main-container">
    <!-- ['userId', 'code', 'name', 'phone', 'email', 'details']  -->
    <table #tbMember appJtable class="table table-hover mat-elevation-z8"
           [resultsPerPage]="20"
           [service]="_memberService"
           [model]="Member">
      <thead>
        <tr>
          <th appJcolumn
              [name]="'id'">
              #
          </th>
          <th>
            <i class="fa fa-chevron-down"></i>
            No. Credencial
          </th>
          <th appJcolumn
              [name]="'lname'">
              Nombre
          </th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="tb.data != undefined">
        <tr *ngFor="let row of tb.data">
          <th scope="row">{{ row.id }}</th>
          <td>{{ row.info.code }}</td>
          <td>{{ row.nombre }}</td>
          <td>{{ row.data.status }}</td>
          <td><button md-raised-button (click)="openDialog(row)" color="primary">Editar <md-icon class="md-24">edit</md-icon></button></td>
        </tr>
      </tbody>
    </table>
  <button md-fab class="btt-btn" color="primary" (click)="openDialog()">
      <md-icon class="md-24">add</md-icon>
  </button>
</div>
