<h2 md-dialog-title>Detalles de usuario {{ data.member.nombre }}</h2>
<md-dialog-content>
    <!-- <form class="partner-form"> -->

        <md-select *ngIf="!data.member.is('invitado')" placeholder="Estado" [(ngModel)]="data.member.data.status" class="full-width form-group">
            <!-- <md-option *ngFor="let status of _status" [value]="status">{{ status }}</md-option> -->
            <md-option value="ACTIVO">ACTIVO</md-option>
            <md-option value="DEUDOR">DEUDOR</md-option>
        </md-select>

        <md-select *ngIf="data.member.is('titular') || data.member.is('asociado')" placeholder="Tipo de Miembro" [(ngModel)]="data.member.tipo" class="full-width form-group">
            <md-option *ngFor="let memberKind of memberKinds" [value]="memberKind.value">{{ memberKind.name }}</md-option>
        </md-select>

        <md-form-field class="full-width">
            <input mdInput placeholder="Nombre" [(ngModel)]="data.member.nombre">
        </md-form-field>
        <md-form-field class="full-width">
            <input mdInput placeholder="Telefono" [(ngModel)]="data.member.data.telefono">
        </md-form-field>

        <md-form-field class="full-width">
            <input mdInput placeholder="Email" [(ngModel)]="data.member.data.email">
        </md-form-field>

        <md-form-field class="full-width">
            <input mdInput placeholder="Dirección" [(ngModel)]="data.member.data.direccion">
        </md-form-field>

        <md-select placeholder="Tipo de sangre" [(ngModel)]="data.member.data.tipo_sangre" class="full-width">
            <md-option *ngFor="let bloodKind of bloodKinds" [value]="bloodKind">{{ bloodKind }}</md-option>
        </md-select>

        <md-form-field class="full-width">
            <input mdInput placeholder="RFID" [(ngModel)]="data.member.info.rfid" type="password">
        </md-form-field>

        <md-form-field class="full-width">
            <input mdInput placeholder="No. credencial" [(ngModel)]="data.member.info.code">
        </md-form-field>

        <!-- <p>Huella dactilar</p> -->
        <div *ngIf="data.member.info.fmd != ''" class="form-group">
            <em>Ya hay una huella resgistrada para este usuario. &nbsp;</em>
            <!-- <button md-raised-button color="warn" (click)="deleteFMD(data.member.id)">Eliminar huella</button> -->
        </div>
        <div *ngIf="data.member.info.fmd == ''" class="form-group">
            <em>No hay huella resgistrada para este usuario aún. &nbsp;</em>
        </div>

        <md-select *ngIf="!data.member.is('invitado')" placeholder="Tipo de membresía" [(ngModel)]="data.member.data.tipo_membresia" class="full-width">
            <md-option *ngFor="let subscriptionKind of subscriptionKinds" [value]="subscriptionKind">{{ subscriptionKind }}</md-option>
        </md-select>

        <md-form-field class="full-width">
          <input mdInput [mdDatepicker]="picker" placeholder="Fecha de nacimiento">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker touchUi="true" #picker></md-datepicker>
        </md-form-field>

        <div *ngIf="data.member.id && data.member.is('titular')">
            <h2 class="mat-h2">Pagos</h2>
            <div *ngIf="lastPayment">
                <table class="table mat-elevation-z8">
                    <tr>
                        <th>Pagado hasta</th>
                        <th>Fecha del pago</th>
                    </tr>
                    <tr>
                        <td>{{ lastPayment.paid_up | date:'medium' }} </td>
                        <td>{{ lastPayment.payment_date | date:'medium' }}</td>
                    </tr>
                </table>
                <form [formGroup]="paymentForm" (ngSubmit)="doPayment()" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <md-select placeholder="Mes" class="full-width form-group" formControlName="month" [formGroup]="paymentForm">
                                        <md-option *ngFor="let month of _months" [value]="month">{{ month }}</md-option>
                                    </md-select>
                                </div>
                                <div class="col-md-6">
                                    <md-select placeholder="Año" class="full-width form-group" formControlName="year" [formGroup]="paymentForm">
                                        <md-option value="2017">2017</md-option>
                                        <md-option value="2018">2018</md-option>
                                        <md-option value="2019">2019</md-option>
                                    </md-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button md-raised-button color="primary">Registrar pago</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <!-- MÓDULO DE ASOCIADOS  -->
        <div *ngIf="data.member.is('titular')">
            <h2 class="mat-h2">Asociados</h2>
            <div *ngIf="data.member.assoc.length > 0">
                <table class="table mat-elevation-z8">
                    <tr>
                        <th>No. Credencial</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    <tr *ngFor="let member of data.member.assoc">
                        <td>{{ member.data.code }}</td>
                        <td>{{ member.nombre }}</td>
                        <td><button md-raised-button (click)="setData(member.id)" color="primary">Editar <md-icon class="md-24">edit</md-icon></button></td>
                    </tr>
                </table>
            </div>
            <div *ngIf="data.member.assoc.length == 0">
                <em>Este miembro no tiene asociados registrados. &nbsp;</em>
            </div>
        </div>
        <div *ngIf="data.member.is('asociado') && data.member.father?.id">
            <h2 class="mat-h2">Usuario referenciado</h2>
            <table class="table mat-elevation-z8">
                <tr>
                    <th>No. Credencial</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <td>{{ data.member.father.data.code }}</td>
                    <td>{{ data.member.father.nombre }}</td>
                    <td>
                        <button md-raised-button (click)="setData(data.member.father.id)" color="primary">Editar <md-icon class="md-24">edit</md-icon></button>
                        <button md-raised-button (click)="unsetRelation(data.member.father.id)" color="warn"><md-icon class="md-24">delete</md-icon></button>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="data.member.is('asociado') && data.member.father == null">
            <h2 class="mat-h2">Usuario referenciado</h2>
            <form>
                <md-form-field class="full-width">
                    <input mdInput placeholder="Teclee nombre o no. credencial..." aria-label="Member" [mdAutocomplete]="auto" [formControl]="memberCtrl">
                    <md-autocomplete #auto="mdAutocomplete" (optionSelected)="setRelation($event)">
                        <md-option *ngFor="let member of filteredMembers | async" [value]="member.id">
                            <span>{{ member.nombre }}</span>
                        </md-option>
                    </md-autocomplete>
                </md-form-field>
            </form>
        </div>

        <br>
        <div *ngIf="data.member.id && data.member.is('invitado')">
            <h2 class="mat-h2">Registrar visita</h2>
            <form [formGroup]="visitForm" (ngSubmit)="registerVisit()" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <md-form-field class="full-width">
                            <input mdInput placeholder="Teclee nombre o no. credencial..." aria-label="Member" [mdAutocomplete]="auto" name="member_id" formControlName="member_id" [formGroup]="visitForm" [formControl]="memberCtrl" #memberID>
                            <md-autocomplete #auto="mdAutocomplete">
                                <md-option *ngFor="let member of filteredMembers | async" [value]="member.id">
                                    <span>{{ member.nombre }}</span>
                                </md-option>
                            </md-autocomplete>
                        </md-form-field>
                    </div>
                    <div class="col-md-12">
                        <md-form-field class="full-width">
                            <input mdInput [mdDatepicker]="picker" placeholder="Fecha límite de visita" name="date" formControlName="date" [formGroup]="visitForm">
                                <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                            <md-datepicker touchUi="true" #picker></md-datepicker>
                        </md-form-field>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button md-raised-button type="submit" color="primary">Registrar pago <md-icon class="md-24">done</md-icon></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- <h2 class="mat-h2">Expediente</h2>
        <md-list>
          <md-list-item *ngFor="let file of files">
            <md-icon md-list-icon>note</md-icon>
            <h4 md-line>{{file.name}}</h4>
            <p md-line> {{file.updated | date}} </p>
        </md-list-item><s></s>
        </md-list>
        <br> -->
    <!-- </form> -->
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close>Cancelar</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-button [md-dialog-close]="true" color="primary">Aceptar</button>
</md-dialog-actions>
