<div class="partner-serach">
    <md-icon>search</md-icon>
    <md-form-field class="full-width">
        <input mdInput placeholder="Buscar socios..." #filter>
    </md-form-field>
</div>
<div class="main-container">
    <md-table #table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container mdColumnDef="userId">
        <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
        <md-cell *mdCellDef="let row"> {{ row.id }} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="code">
        <md-header-cell *mdHeaderCellDef> No. Credencial </md-header-cell>
        <md-cell *mdCellDef="let row"> {{ row.info.code }} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="name">
        <md-header-cell *mdHeaderCellDef> Nombre </md-header-cell>
        <md-cell *mdCellDef="let row"> {{ row.nombre }} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="phone">
        <md-header-cell *mdHeaderCellDef> Teléfono </md-header-cell>
        <md-cell *mdCellDef="let row"> {{ row.data.telefono }} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="email">
        <md-header-cell *mdHeaderCellDef> Email </md-header-cell>
        <md-cell *mdCellDef="let row"> {{ row.data.email }} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="details">
       <md-header-cell *mdHeaderCellDef> Acciones </md-header-cell>
       <md-cell *mdCellDef="let row"> <button md-raised-button (click)="openDialog(row)" color="primary">Editar <md-icon class="md-24">edit</md-icon></button></md-cell>
    </ng-container>


    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
 </md-table>

 <md-paginator #paginator
                [length]="membersDatabase.data.length"
                [pageIndex]="0"
                [pageSize]="25"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
  <button md-fab class="btt-btn" color="primary" (click)="openDialog({})">
      <md-icon class="md-24">add</md-icon>
  </button>
</div>
